<h1>Login</h1>

<form action="/sessions" method="post">
  <p>
    <label for="username_input">Username</label>
    <input type="text" name="username" id="username_input">

    <label for="password_input">Password</label>
    <input type="password" name="password" id="password_input">
  </p>

  <button>Login</button>
</form>