<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Periscope</title>
</head>
<body>
  <h1>Welcome to Periscope, an Amber Health production!</h1>
  <p>This is where I will be building my application to help busy hospitalists understand their productivity and metrics to better inform their practice.</p>
  <p>To get to know us, start by selecting reading the links below</p>

<ul class="list-group flex-column">
  <li class="list-group-item">
   <a href="/periscope/hospitalist">What is a hospitalist and what do we do?</a>
  </li>
  <li class="list-group-item">
    <a href="/periscope/inpatient-metrics/overview">Overview of inpatient care metrics</a>
  </li>
  <li class="list-group-item">
   <a href="/periscope/cdi">Clinical Documentation Integrity</a>
  </li>
  <li class="list-group-item">
   <a href="/periscope/inpatient-metrics/LOS">The patient's length of stay</a>
  </li>
  <li class="list-group-item">
    <a href="/periscope/inpatient-metrics/mortality">Patient mortality</a>
  </li>
  <li class="list-group-item">
    <a href="/periscope/inpatient-metrics/CMI">Case Mix Index</a>
  </li>
  <li class="list-group-item">
    <a href="/periscope/inpatient-metrics/readmission">Readmission rate</a>
</ul>
</body>
</html>