<h1>New User Account Creation</h1>

<form action="/users" method="post">
  <p>
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name">
  </p>

  <p>
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name">
  </p>

  <p>
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </p>

  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">

  <p>
  <label for="password_confirmation">Password Confirmation</label>
  <input type="password" name="password_confirmation" id="password_confirmation">
</p>

  <button>Signup</button>
</form>