<h1>New User Account</h1>

<form action="/users" method="post">
  <p>
    <label for="username_input">Username</label>
    <input type="text" name="username" id="username_input">
  </p>

  <p>
    <label for="real_name_input">Real Name</label>
    <input type="text" name="real_name" id="real_name_input">
  </p>

  <p>
    <label for="password_input">Password</label>
    <input type="password" name="password" id="password_input">
  </p>

  <button>Signup</button>
</form>